.my-footer {
  text-align: center;
  background-color: rgb(43, 42, 42);
  color: rgb(158, 154, 154);
}
.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  text-align: center;
}
